# dependencies
/node_modules

# production
/dist
/dts
/storybook-static

# testing
/coverage
/cypress/videos
/cypress/screenshots
/cypress/e2e/__image_snapshots__/*.actual.*
/cypress/e2e/__image_snapshots__/*.diff.*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local